/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
    url('./assets/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('./assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./assets/fonts/roboto-v20-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('./assets/fonts/roboto-v20-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./assets/fonts/roboto-v20-latin-regular.svg#Roboto')
      format('svg'); /* Legacy iOS */
}

body,
html {
  height: 100%;
  margin: 0;
}

body {
  background-color: rgb(25, 25, 27);
  color: white;
  font-family: 'Roboto';
}

#app {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  h2 {
    font-size: 32px;
    margin-top: 0;
  }
  ul {
    padding: 0;
    margin-bottom: 0;
    li {
      list-style: none;
      font-size: 14px;
      color: rgb(216, 216, 216);
    }
  }
}

.main {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 2px;
  padding: 1rem;
}

.image {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
